In [1]:
import pandas as pd
import faker as fk

In [5]:
books = pd.read_csv('CSV Files/books.csv')

In [6]:
books.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,original_title,title,language_code,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,The Hunger Games,"The Hunger Games (The Hunger Games, #1)",eng,4.34,4780653,4942365,155254,66715,127936,560092,1481305,2706317
1,2,3,3,4640799,491,439554934,9.780440e+12,Harry Potter and the Philosopher's Stone,Harry Potter and the Sorcerer's Stone (Harry P...,eng,4.44,4602479,4800065,75867,75504,101676,455024,1156318,3011543
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Twilight,"Twilight (Twilight, #1)",en-US,3.57,3866839,3916824,95009,456191,436802,793319,875073,1355439
3,4,2657,2657,3275794,487,61120081,9.780061e+12,To Kill a Mockingbird,To Kill a Mockingbird,eng,4.25,3198671,3340896,72586,60427,117415,446835,1001952,1714267
4,5,4671,4671,245494,1356,743273567,9.780743e+12,The Great Gatsby,The Great Gatsby,eng,3.89,2683664,2773745,51992,86236,197621,606158,936012,947718

In [7]:
authorship = books[['book_id', 'authors', 'original_publication_year']]

KeyError: "['authors', 'original_publication_year'] not in index"

In [8]:
authorship.head()

NameError: name 'authorship' is not defined

In [8]:
authorship['authors'] = authorship['authors'].str.split(',')

c:\Users\iankk\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
authorship.head()

NameError: name 'authorship' is not defined

In [15]:
authorship['authorship_id'] = authorship.index+1

c:\Users\iankk\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
authorship

,book_id,authors,original_publication_year,authorship_id
0,1,[Suzanne Collins],2008.0,1
1,2,"[J.K. Rowling, Mary GrandPré]",1997.0,2
2,3,[Stephenie Meyer],2005.0,3
3,4,[Harper Lee],1960.0,4
4,5,[F. Scott Fitzgerald],1925.0,5
...,...,...,...,...
9995,9996,[Ilona Andrews],2010.0,9996
9996,9997,[Robert A. Caro],1990.0,9997
9997,9998,[Patrick O'Brian],1977.0,9998
9998,9999,[Peggy Orenstein],2011.0,9999
9999,10000,[John Keegan],1998.0,10000

In [17]:
authors = authorship.explode('authors')

In [20]:
authors.drop(columns=['book_id','original_publication_year','authorship_id'], inplace=True)

In [22]:
authors.drop_duplicates(inplace=True)

In [27]:
fake = fk.Faker()
authors['author_id'] = authors.index+1
authors['Adress'] = authors['authors'].apply(lambda x: fake.address())
authors['Sex'] = authors['authors'].apply(lambda x: fake.random_element(elements=('M', 'F')))
authors['email'] = authors['authors'].apply(lambda x: fake.email())
authors['phone'] = authors['authors'].apply(lambda x: fake.phone_number())

In [34]:
authors_id = authors[['author_id', 'authors']]

In [32]:
authorship = authorship.explode('authors')

In [35]:
authorship.merge(authors_id, on='authors', how='inner')

,book_id,authors,original_publication_year,authorship_id,author_id
0,1,Suzanne Collins,2008.0,1,2
1,17,Suzanne Collins,2009.0,17,2
2,20,Suzanne Collins,2010.0,20,2
3,507,Suzanne Collins,2010.0,507,2
4,1531,Suzanne Collins,2003.0,1531,2
...,...,...,...,...,...
13211,9991,Ben Okri,1991.0,9991,9992
13212,9992,Miles Cameron,2012.0,9992,9993
13213,9993,Ian Mortimer,2008.0,9993,9994
13214,9999,Peggy Orenstein,2011.0,9999,10000
13215,10000,John Keegan,1998.0,10000,10001

In [37]:
authorship.drop(columns=['authors'], inplace=True)

In [39]:
authorship.to_csv('CSV Files/authorship.csv', index=False)

In [41]:
authors = authors[['author_id','authors','Adress','Sex','email','phone']]

In [43]:
authors.rename(columns={'authors':'name'}, inplace=True)

In [45]:
authors.to_csv('CSV Files/authors.csv', index=False)