In [7]:
import random
import pandas 
import time
import numpy as np
import datetime
from faker import Faker

In [8]:
'''
# Create a new column with random dates values between 2010 and 2019
df = pandas.read_csv('ratings.csv')
fake = Faker()
Faker.seed(54321)
start_date = datetime.date(year=2010, month=1, day=1)
end_date = datetime.date(year=2019, month=12, day=31)
fake.date_between(start_date=start_date, end_date=end_date)

# Fill the new column with random dates
df['date'] = [fake.date_between(start_date=start_date, end_date=end_date) for _ in range(len(df))]
df.to_csv('ratings_with_date.csv', index=False)
'''

"\n# Create a new column with random dates values between 2010 and 2019\ndf = pandas.read_csv('ratings.csv')\nfake = Faker()\nFaker.seed(54321)\nstart_date = datetime.date(year=2010, month=1, day=1)\nend_date = datetime.date(year=2019, month=12, day=31)\nfake.date_between(start_date=start_date, end_date=end_date)\n\n# Fill the new column with random dates\ndf['date'] = [fake.date_between(start_date=start_date, end_date=end_date) for _ in range(len(df))]\ndf.to_csv('ratings_with_date.csv', index=False)\n"

In [9]:
# 1º Fix the rating date to be larger than the date of publication of the book.
# 2º Fix to read Date be larger than the date of publication of the book.
# 3º Fix the rating date and to read date to be larger than the user 10 year old
books = pandas.read_csv('books.csv')

In [10]:
ratings = pandas.read_csv('ratings_with_date.csv')

In [29]:
ratings

         user_id  book_id  rating        date
0              1      258       5  2011-03-08
1              2     4081       4  2014-02-28
2              2      260       5  2012-11-26
3              2     9296       5  2019-05-29
4              2     2318       3  2018-12-28
...          ...      ...     ...         ...
5976474    49925      510       5  2016-02-15
5976475    49925      528       4  2015-05-05
5976476    49925      722       4  2019-08-01
5976477    49925      949       5  2016-08-26
5976478    49925     1023       4  2012-01-16

[5976479 rows x 4 columns]

In [12]:
books

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,7130616,7130616,7392860,19,441019455,9.780441e+12,Ilona Andrews,2010.0,Bayou Moon,...,17204,18856,1180,105,575,3538,7860,6778,https://images.gr-assets.com/books/1307445460m...,https://images.gr-assets.com/books/1307445460s...
9996,9997,208324,208324,1084709,19,067973371X,9.780680e+12,Robert A. Caro,1990.0,Means of Ascent,...,12582,12952,395,303,551,1737,3389,6972,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...
9997,9998,77431,77431,2393986,60,039330762X,9.780393e+12,Patrick O'Brian,1977.0,The Mauritius Command,...,9421,10733,374,11,111,1191,4240,5180,https://images.gr-assets.com/books/1455373531m...,https://images.gr-assets.com/books/1455373531s...
9998,9999,8565083,8565083,13433613,7,61711527,9.780062e+12,Peggy Orenstein,2011.0,Cinderella Ate My Daughter: Dispatches from th...,...,11279,11994,1988,275,1002,3765,4577,2375,https://images.gr-assets.com/books/1279214118m...,https://images.gr-assets.com/books/1279214118s...
9999,10000,8914,8914,11817,31,375700455,9.780376e+12,John Keegan,1998.0,The First World War,...,9162,9700,364,117,345,2031,4138,3069,https://images.gr-assets.com/books/1403194704m...,https://images.gr-assets.com/books/1403194704s...

In [30]:
ratings_date = ratings[['user_id','book_id','date']]
publication_date = books[['book_id','original_publication_year']]

In [35]:
merged_df = ratings_date.merge(publication_date, left_on='book_id', right_on='book_id', how='inner')
merged_df['date'] = pandas.to_datetime(merged_df['date'])

C:\Users\ian.karkles\AppData\Local\Temp\ipykernel_18924\2754187224.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df['date'][i] = merged_df['date'][i] + datetime.timedelta(days=365)

KeyboardInterrupt:

In [15]:
ratings['book_id'].value_counts()

1       22806
2       21850
4       19088
3       16931
5       16604
        ...
9315       36
1935       33
9486       24
9345       11
7803        8
Name: book_id, Length: 10000, dtype: int64

In [17]:
books['book_id'].value_counts()

1        1
6671     1
6664     1
6665     1
6666     1
        ..
3334     1
3335     1
3336     1
3337     1
10000    1
Name: book_id, Length: 10000, dtype: int64