In [1]:
import random
import pandas 
import time
import numpy as np
import datetime
from faker import Faker

In [2]:
df = pandas.read_csv('ratings.csv')

In [3]:
# Create a new column with random dates values between 2010 and 2019
fake = Faker()
Faker.seed(54321)
start_date = datetime.date(year=2010, month=1, day=1)
end_date = datetime.date(year=2019, month=12, day=31)
fake.date_between(start_date=start_date, end_date=end_date)

# Fill the new column with random dates
df['date'] = [fake.date_between(start_date=start_date, end_date=end_date) for _ in range(len(df))]

In [4]:
df

         user_id  book_id  rating        date
0              1      258       5  2011-03-08
1              2     4081       4  2014-02-28
2              2      260       5  2012-11-26
3              2     9296       5  2019-05-29
4              2     2318       3  2018-12-28
...          ...      ...     ...         ...
5976474    49925      510       5  2016-02-15
5976475    49925      528       4  2015-05-05
5976476    49925      722       4  2019-08-01
5976477    49925      949       5  2016-08-26
5976478    49925     1023       4  2012-01-16

[5976479 rows x 4 columns]

In [5]:
df.to_csv('ratings_with_date.csv', index=False)