In [1]:
import random
import pandas as pd
import time
import numpy as np
import datetime
from faker import Faker

In [2]:

# Create a new column with random dates values between 2010 and 2019
df = pd.read_csv('CSV Files/ratings.csv')
fake = Faker()
Faker.seed(54321)
start_date = datetime.date(year=2010, month=1, day=1)
end_date = datetime.date(year=2019, month=12, day=31)
fake.date_between(start_date=start_date, end_date=end_date)

"""
# Fill the new column with random dates
df['date'] = [fake.date_between(start_date=start_date, end_date=end_date) for _ in range(len(df))]
df.to_csv('CSV Files/ratings_with_date.csv', index=False)
"""

FileNotFoundError: [Errno 2] No such file or directory: 'CSV Files/ratings.csv'

In [3]:
# 1º Fix the rating date to be larger than the date of publication of the book. - ok
# 2º Fix to read Date be larger than the date of publication of the book. - ok
# 3º Fix the rating date and to read date to be larger than the user 10 year old


### 1º Fix the rating date to be larger than the date of publication of the book. - ok
books = pd.read_csv('CSV Files/books.csv')
ratings = pd.read_csv('CSV Files/ratings_with_date.csv')
ratings_date = ratings[['user_id','book_id','date']]
publication_date = books[['book_id','original_publication_year']]
merged_df = ratings_date.merge(publication_date, left_on='book_id', right_on='book_id', how='inner')
merged_df['original_publication_datetime'] = 0
merged_df['date'] = pd.to_datetime(merged_df['date'])

KeyError: "['original_publication_year'] not in index"

In [9]:
for i in range(len(merged_df)):
    if merged_df['original_publication_year'][i] < 1: # If the book was published before 1 AD
        merged_df['original_publication_datetime'][i] = datetime.date(year=1, month=1, day=1)
    elif np.isnan(merged_df['original_publication_year'][i]) == True: # If the book was published before 1 AD
        merged_df['original_publication_datetime'][i] = datetime.date(year=1, month=1, day=1)
    else: # If the book was published after 1 AD
        merged_df['original_publication_datetime'][i] = datetime.date(year=int(merged_df['original_publication_year'][i]), month=1, day=1)

c:\Users\iankk\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [22]:
for i in range(len(merged_df)):
    if merged_df['date'][i] < merged_df['original_publication_datetime'][i]:
        merged_df['date'][i] = merged_df['original_publication_datetime'][i] + datetime.timedelta(days=random.randint(1, 365*10))
    else:
        pass

c:\Users\iankk\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior.  In a future version these will be considered non-comparable.Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.

c:\Users\iankk\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [21]:
len(merged_df)

5976479

In [23]:
merged_dffor i in range(len(merged_df)):
    if merged_df['date'][i] < merged_df['original_publication_datetime'][i]:
        merged_df['date'][i] = merged_df['original_publication_datetime'][i] + datetime.timedelta(days=random.randint(1, 365*10))
    else:
        pass

,user_id,book_id,date,original_publication_year,original_publication_datetime
0,1,258,2014-04-02 00:00:00,2001.0,2001-01-01
1,11,258,2011-01-26 00:00:00,2001.0,2001-01-01
2,143,258,2017-10-16 00:00:00,2001.0,2001-01-01
3,242,258,2014-06-08 00:00:00,2001.0,2001-01-01
4,325,258,2012-06-29 00:00:00,2001.0,2001-01-01
...,...,...,...,...,...
5976474,36773,9548,2019-11-16 00:00:00,2016.0,2016-01-01
5976475,50673,9548,2018-09-14,2016.0,2016-01-01
5976476,45213,9548,2016-04-08 00:00:00,2016.0,2016-01-01
5976477,12872,9548,2018-06-27,2016.0,2016-01-01
5976478,46353,9548,2025-01-10,2016.0,2016-01-01

In [7]:
#### 2º Fix to read Date be larger than the date of publication of the book.
to_read = pd.read_csv('CSV Files/to_read.csv')
to_read['date'] = [fake.date_between(start_date=start_date, end_date=end_date) for _ in range(len(to_read))]
book_dates = merged_df[['book_id','original_publication_datetime']]
to_read_merged = to_read.merge(book_dates, left_on='book_id', right_on='book_id', how='inner')

NameError: name 'merged_df' is not defined

In [45]:
to_read_merged

        user_id  book_id        date original_publication_datetime
0             9        8  2010-01-10                    1951-01-01
1           245        8  2010-04-16                    1951-01-01
2           654        8  2016-03-08                    1951-01-01
3          1509        8  2012-01-31                    1951-01-01
4          1743        8  2010-09-21                    1951-01-01
...         ...      ...         ...                           ...
912700    20581     5884  2011-10-15                    2017-01-01
912701    13517     5884  2018-02-13                    2017-01-01
912702     5532     5884  2011-03-31                    2017-01-01
912703    44341     5884  2017-05-10                    2017-01-01
912704    22606     5884  2014-04-16                    2017-01-01

[912705 rows x 4 columns]

In [48]:
for i in range(len(to_read_merged)):
    if to_read_merged['date'][i] < to_read_merged['original_publication_datetime'][i]:
        to_read_merged['date'][i] = to_read_merged['original_publication_datetime'][i] + datetime.timedelta(days=random.randint(1, 365*10))
    else:
        pass

c:\Users\iankk\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [54]:
to_read_merged.to_csv('CSV Files/to_read.csv', index=False)

In [52]:
ratings

         user_id  book_id  rating
0              1      258       5
1              2     4081       4
2              2      260       5
3              2     9296       5
4              2     2318       3
...          ...      ...     ...
5976474    49925      510       5
5976475    49925      528       4
5976476    49925      722       4
5976477    49925      949       5
5976478    49925     1023       4

[5976479 rows x 3 columns]

In [56]:
ratings_joined = ratings.merge(ratings_with_date_fixed, left_on=['user_id','book_id'], right_on=['user_id','book_id'], how='inner')

In [58]:
ratimgs = ratings_joined.drop(['original_publication_year','original_publication_datetime'], axis=1, inplace=True)

In [63]:
ratings_joined.to_csv('CSV Files/ratings.csv', index=False)

In [78]:
### Fix the to read and ratings date to be larger than the user 10 year old - ok
### Was not needed to change anything in the user age column. The users are already older than 10 years old.
users = pd.read_csv('CSV Files/user.csv')
ratings = pd.read_csv('CSV Files/ratings.csv')
to_read = pd.read_csv('CSV Files/to_read.csv')

In [82]:
ratings.to_csv('CSV Files/ratings_with_date.csv', index=False)