In [1]:
import pandas as pd

In [17]:
books = pd.read_csv('CSV Files/books.csv')
ratings = pd.read_csv('CSV Files/ratings_merged.csv')

In [26]:
books.columns

Index(['book_id', 'goodreads_book_id', 'best_book_id', 'work_id',
       'books_count', 'isbn', 'isbn13', 'original_publication_year',
       'original_title', 'title', 'language_code', 'average_rating',
       'ratings_count', 'work_ratings_count', 'work_text_reviews_count',
       'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5',
       'image_url', 'small_image_url'],
      dtype='object')

In [27]:
### keep the first and the last 9 columns of book
stats = books.iloc[:, [0,-11, -10, -7, -6, -5, -4, -3]]

In [28]:
stats['year'] = 2023

c:\Users\iankk\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [29]:
stats

,book_id,average_rating,ratings_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,year
0,1,4.34,4780653,66715,127936,560092,1481305,2706317,2023
1,2,4.44,4602479,75504,101676,455024,1156318,3011543,2023
2,3,3.57,3866839,456191,436802,793319,875073,1355439,2023
3,4,4.25,3198671,60427,117415,446835,1001952,1714267,2023
4,5,3.89,2683664,86236,197621,606158,936012,947718,2023
...,...,...,...,...,...,...,...,...,...
9995,9996,4.09,17204,105,575,3538,7860,6778,2023
9996,9997,4.25,12582,303,551,1737,3389,6972,2023
9997,9998,4.35,9421,11,111,1191,4240,5180,2023
9998,9999,3.65,11279,275,1002,3765,4577,2375,2023
9999,10000,4.00,9162,117,345,2031,4138,3069,2023

In [21]:
time = pd.read_csv('CSV Files/time.csv')
time.drop('Unnamed: 0', axis=1, inplace=True)

In [22]:
time

             date          flag     id  year  month  day
0      2011-03-08  ratings_date      1  2011      3    8
1      2014-02-28  ratings_date      2  2014      2   28
2      2012-11-26  ratings_date      3  2012     11   26
3      2019-05-29  ratings_date      4  2019      5   29
4      2018-12-28  ratings_date      5  2018     12   28
...           ...           ...    ...   ...    ...  ...
27918  1991-12-04    users_date  27919  1991     12    4
27919  1971-05-22    users_date  27920  1971      5   22
27920  1994-12-02    users_date  27921  1994     12    2
27921  1944-12-15    users_date  27922  1944     12   15
27922  1973-05-21    users_date  27923  1973      5   21

[27923 rows x 6 columns]

In [23]:
#Merge ratings and time on left time_id on right id
ratings = pd.merge(ratings, time, left_on='time_id', right_on='id')

In [31]:
ratings.drop(['user_id','id', 'time_id','Unnamed: 0','flag','month','day'], axis=1, inplace=True)

KeyError: "['user_id' 'id' 'time_id' 'Unnamed: 0' 'flag' 'month' 'day'] not found in axis"

In [35]:
### create dummy columns from the rating column
ratings = pd.get_dummies(ratings, columns=['rating'])

KeyError: "None of [Index(['rating'], dtype='object')] are in the [columns]"

In [36]:
ratings

,book_id,date,year,rating_1,rating_2,rating_3,rating_4,rating_5
0,258,2011-03-08,2011,0,0,0,0,1
1,2620,2011-03-08,2011,0,0,1,0,0
2,3832,2011-03-08,2011,0,0,1,0,0
3,66,2011-03-08,2011,0,0,0,0,1
4,2076,2011-03-08,2011,0,0,1,0,0
...,...,...,...,...,...,...,...,...
5976474,4200,2017-05-03,2017,0,0,1,0,0
5976475,2475,2017-05-03,2017,0,1,0,0,0
5976476,8685,2017-05-03,2017,1,0,0,0,0
5976477,9137,2017-05-03,2017,0,0,1,0,0
5976478,119,2017-05-03,2017,0,0,0,0,1

In [39]:
#Create a new dataframe with the following calculations: count of ratings, mean of ratings, and sum of ratings and sum of ratings 1-5
stats = ratings.groupby(['book_id','year']).agg({'rating_1': 'sum', 'rating_2': 'sum', 'rating_3': 'sum', 'rating_4': 'sum', 'rating_5': 'sum'})
# Now append to stats the average rating and the count of ratings
stats['avg_rating'] = (stats['rating_1']*1 + stats['rating_2']*2 + stats['rating_3']*3 + stats['rating_4']*4 + stats['rating_5']*5) / stats['sum']
stats['count'] = stats['rating_1'] + stats['rating_2'] + stats['rating_3'] + stats['rating_4'] + stats['rating_5']

KeyError: 'sum'

In [ ]:
stats

,rating_1,rating_2,rating_3,rating_4,rating_5,sum,avg_rating,count
book_id,,,,,,,,
1,1000.0,2656.0,12825.0,32221.0,47996.0,96698.0,1.0,96698.0
2,878.0,2356.0,11790.0,26074.0,51494.0,92592.0,1.0,92592.0
3,11439.0,11238.0,16600.0,15649.0,16900.0,71826.0,1.0,71826.0
4,689.0,2333.0,9918.0,24684.0,43286.0,80910.0,1.0,80910.0
5,2033.0,5878.0,18000.0,24264.0,20130.0,70305.0,1.0,70305.0
...,...,...,...,...,...,...,...,...
9996,4.0,33.0,110.0,259.0,190.0,596.0,1.0,596.0
9997,6.0,6.0,19.0,149.0,216.0,396.0,1.0,396.0
9998,0.0,0.0,64.0,174.0,198.0,436.0,1.0,436.0
9999,4.0,35.0,173.0,216.0,118.0,546.0,1.0,546.0
10000,5.0,9.0,83.0,239.0,129.0,465.0,1.0,465.0

In [51]:
### Group by the ratings by year in the date and book_id
ratings = ratings.groupby(['book_id','year']).sum()

In [52]:
ratings

               user_id  time_id  rating_1  rating_2  rating_3  rating_4  \
book_id year
1       1932  12621804  1457895       4.0      10.0      54.0     181.0
        1933  15518259  2364996       4.0      15.0      72.0     189.0
        1934  14222293  2028999       6.0      13.0      63.0     186.0
        1935  12675014  1756234       4.0      16.0      58.0     172.0
        1936  12812510  1502768       6.0      12.0      61.0     164.0
...                ...      ...       ...       ...       ...       ...
10000   2015    999246    69161       2.0       1.0       7.0      17.0
        2016    697429    53638       1.0       0.0       4.0      14.0
        2017    977339    82795       0.0       0.0       5.0      19.0
        2018    801735    57771       0.0       0.0       3.0      17.0
        2019    744903    65727       0.0       0.0       5.0      20.0

              rating_5
book_id year
1       1932     203.0
        1933     273.0
        1934     275.0
        1935     237.0
        1936     229.0
...                ...
10000   2015       7.0
        2016       7.0
        2017      12.0
        2018       6.0
        2019       5.0

[780963 rows x 7 columns]