In [17]:
import pandas as pd
from faker import Faker

In [2]:
df_rating = pd.read_csv('ratings.csv')

In [3]:
df_rating.head()

   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3

In [23]:
num_users =  df_rating['user_id'].nunique()

In [7]:
col_ids =  df_rating['user_id'].unique()
col_ids =  pd.DataFrame(col_ids)

In [22]:
fake = Faker()
fake.simple_profile().get('username')
fake.simple_profile().get('name')
fake.simple_profile().get('mail')
fake.simple_profile().get('birthdate')

datetime.date(1996, 4, 7)