In [1]:
import pandas as pd
from faker import Faker

In [2]:
df_rating = pd.read_csv('ratings.csv')
df_rating.head()

   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3

In [7]:
fake = Faker()

col_ids =  df_rating['user_id'].unique()
col_ids =  pd.DataFrame(col_ids)
col_ids.rename(columns={0:'user_id'}, inplace=True)
col_ids['username'] = col_ids.apply(lambda x: fake.unique.user_name(), axis=1)
col_ids['sex'] = col_ids.apply(lambda x:fake.bothify(text='?', letters='MF'), axis=1)
col_ids['name'] = col_ids.apply(lambda x: fake.unique.name(), axis=1)
col_ids['email'] = col_ids.apply(lambda x: fake.unique.email(), axis=1)
col_ids['SSN'] = col_ids.apply(lambda x: fake.unique.ssn(), axis=1)
col_ids['address'] = col_ids.apply(lambda x: fake.unique.address(), axis=1)
col_ids['phone_number'] = col_ids.apply(lambda x: fake.unique.phone_number(), axis=1)
#col_ids.set_index(user_id, inplace=True)

In [8]:
col_ids.set_index('user_id', inplace=True)

In [9]:
col_ids

,username,sex,name,email,SSN,address,phone_number
user_id,,,,,,,
1,hernandezsteve,F,Andrew Stevenson,robertramsey@example.com,058-41-7113,"7558 Meza Extensions\nNorth Alexandershire, ND...",+1-321-850-5077
2,xcook,F,Kevin Obrien,andreasutton@example.net,530-12-5372,"50117 John Springs Suite 361\nWest Matthewton,...",940.717.0383x24448
4,cwilcox,F,Sandra Payne,fcalhoun@example.com,841-58-8647,"6633 Sean Fort\nNicholasfort, LA 78178",142.941.6624
6,ibaker,M,Laura Acosta,christophermiller@example.com,153-72-1111,23720 Flores Expressway Suite 231\nNicholsland...,374-409-6279
8,charles64,M,April Sanchez,ricelorraine@example.com,638-25-9102,"2855 Merritt Locks Suite 644\nEast Andrea, MH ...",001-202-741-0687x719
...,...,...,...,...,...,...,...
47704,brandon09,F,Carolyn Woods,emalone@example.net,524-41-1410,"PSC 7439, Box 8946\nAPO AA 51127",(167)790-7331
51115,sara67,F,Richard Hill,mikeberg@example.org,184-66-9626,"69598 Whitney Hills Apt. 073\nChrisville, GU 7...",965-598-4259x065
27329,jacquelineanderson,F,Stacy Brown,bradleybrewer@example.org,178-09-9109,"59652 George View Apt. 033\nEdwardsborough, MT...",139-091-4336
33111,trevor10,M,Kevin Atkinson,christinacooper@example.org,796-99-4634,"26565 Soto Ferry\nLewisport, GA 17997",001-782-657-1423x9442
49802,pattersonkimberly,F,Jeffrey Baird,stewartapril@example.net,028-09-7628,"848 Butler Cliff\nWest Courtney, WA 01921",001-312-618-0381x4662

In [ ]:
col_ids['username'].value_counts()

wking              1
matthewcain        1
peterrichardson    1
alexis64           1
flloyd             1
                  ..
frankhaley         1
cramirez           1
alice71            1
higginstiffany     1
cory92             1
Name: username, Length: 53424, dtype: int64