In [1]:
import pandas as pd
from faker import Faker

In [2]:
df_rating = pd.read_csv('ratings.csv')
df_rating.head()

   user_id  book_id  rating                 date
0        1      258       5  2014-04-02 00:00:00
1        2     4081       4  2012-01-30 00:00:00
2        2      260       5  2013-09-06 00:00:00
3        2     9296       5  2011-01-08 00:00:00
4        2     2318       3  2017-05-23 00:00:00

In [8]:
fake = Faker()

col_ids =  df_rating['user_id'].unique()
col_ids =  pd.DataFrame(col_ids)
col_ids.rename(columns={0:'user_id'}, inplace=True)
col_ids['username'] = col_ids.apply(lambda x: fake.unique.user_name(), axis=1)
col_ids['sex'] = col_ids.apply(lambda x:fake.bothify(text='?', letters='MF'), axis=1)
col_ids['name'] = col_ids.apply(lambda x: fake.unique.name(), axis=1)
col_ids['email'] = col_ids.apply(lambda x: fake.unique.email(), axis=1)
col_ids['birthdate'] = col_ids.apply(lambda x: fake.date_of_birth(tzinfo=None, minimum_age=23, maximum_age=90), axis=1)
col_ids['address'] = col_ids.apply(lambda x: fake.unique.address(), axis=1)
col_ids['phone_number'] = col_ids.apply(lambda x: fake.unique.phone_number(), axis=1)
#col_ids.set_index(user_id, inplace=True)

In [9]:
col_ids.set_index('user_id', inplace=True)

In [10]:
col_ids

,username,sex,name,email,birthdate,address,phone_number
user_id,,,,,,,
1,kennethharris,F,Philip King,jakelozano@example.org,1970-07-23,"156 Martin Neck\nNorth Brianmouth, DC 14985",676-984-7756x920
2,timothypratt,F,Brittney Velez,jamescastillo@example.com,1986-05-27,"4118 Philip Roads\nBellbury, DE 76877",(153)739-0948x80442
4,ruiztimothy,M,Ryan Tucker,ycooper@example.org,1966-08-01,"7280 Brian Plains\nPricestad, AS 06130",+1-073-872-0509
6,carlmorris,M,Randall Williams DDS,erikaedwards@example.com,1945-12-08,7574 Williamson Lakes Apt. 836\nWest Eduardovi...,967.856.3194
8,ashleyjaime,F,Michelle White,lindayoung@example.org,1986-06-24,"9631 Evans Village\nCameronville, UT 12893",722.637.7279x6382
...,...,...,...,...,...,...,...
47704,flemingbrenda,F,Breanna Gomez,mbright@example.net,1976-03-18,7304 Misty Square Suite 534\nNorth Michaelland...,506.547.7900
51115,whitecesar,F,Dawn Ellison,jaredkennedy@example.net,1965-10-01,"86814 John Islands\nSteveberg, OK 05397",772-985-9221x007
27329,thomas24,M,Barbara Martinez,rsolis@example.net,1980-07-19,"89049 Rollins Heights\nDuncanshire, UT 20802",728-867-7489
33111,desireelopez,F,Gregory Gutierrez,youngtheresa@example.net,1953-03-31,"826 Joseph Bypass\nJoshuaside, NH 19717",+1-408-702-2135x05122
49802,margaretmartinez,M,Jasmin Young,rachelprice@example.net,1981-04-21,"26737 Coleman Square Apt. 647\nJoshuashire, VA...",448.840.5139

In [11]:
col_ids['username'].value_counts()

kennethharris       1
bushmichael         1
amandasolis         1
mcconnellkaren      1
wilsonkyle          1
                   ..
hwhitney            1
zclark              1
rileyyoung          1
brooke74            1
margaretmartinez    1
Name: username, Length: 53424, dtype: int64

In [12]:
col_ids.to_csv('user.csv')